
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">
<div class="au-xs-ta-center au-lg-ta-left">
    <ul class="rk-menu rk-categories-menu">

      <li class="rk-menu__item" routerLinkActive="active"><a [routerLink]="['themes']" class="rk-menu__link">Themes</a>
      </li>
      <li class="rk-menu__item" routerLinkActive="active"><a [routerLink]="['videos']" class="rk-menu__link">Videos</a>
      </li>
      <li class="rk-menu__item" routerLinkActive="active"><a [routerLink]="['books']" class="rk-menu__link">Books</a>
      </li>

      

    </ul>
  </div>

  <!-- Router oulet viene aqui para los componenetes hijos -->
  <router-outlet></router-outlet>
</section>
  