


<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="rk-portfolio__items">
      
  
      
          <a  *ngFor="let book of _contributionsS.books"
              [style.background-image]="sanitizeImage(book.urlImage)"   
              class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            
            <h2> {{ book.title }} </h2>
            <div class="item-meta">
              <h2>Detail Book</h2>
              <p>
                {{ book.description }}
              </p>
              <p> <strong> Autor: Desconocido</strong></p>
              <br>
              <br>
              <br>
              <h2>Download</h2>
              <a [href]="book.urlBook" download="Book Download Documentation.pdf"> <h2> Download Book Desde Firebase</h2></a>
            </div>
            
          </a>

    </div>
</section>
