


<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="rk-portfolio__items">
      
  
      
          <a [style.background-image]="sanitizeImage(urlImage)"   class="rk-item rk-item--flex rk-size-4 rk-tosize-3 rk-square ">
            
            <h2>Title Book</h2>
            <div class="item-meta">
              <h2>Detail Book</h2>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum corrupti vel officia, labore ipsam quis ullam hic est obcaecati sunt, incidunt illum quos. Libero, numquam unde dolorem incidunt nobis sunt.
              </p>
              <p> <strong> Autor: EL chavo</strong></p>
              <br>
              <br>
              <br>
              <h2>Download</h2>
              <a href="https://firebasestorage.googleapis.com/v0/b/redesneuroalesweb.appspot.com/o/matich-redesneuronales.pdf?alt=media&token=1dae1f12-fe12-4416-b18f-2f7763d7eef7" download="Book Download Documentation.pdf"> <h2> Download Book Desde Firebase</h2></a>
            </div>
            
          </a>

    </div>
</section>
