<section class="ae-container-fluid rk-main">
  
  <section class="ae-container-fluid ae-container-fluid--inner rk-blog">
    <div class="rk-blog__items">
      <div class="rk-blog__item">
        <!-- La clase post-1 ace referencia a la imagen del home el archivo css es urku.css -->
        <div class="post-img post-1 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href="blog-post.html">Descubre mas sobre las redes neuronales</a></h2>
          <h5 class="blog-info__author">By <a href="blog-post.html" class="ae-u-bolder">JhoysiAndDavid</a></h5>
          <p class="blog-info__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <span>in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</span></p>
        </div>
       
      </div>
  
    </div>
  </section>
  
</section>