<section class="ae-container-fluid rk-main">
  
  <section class="ae-container-fluid ae-container-fluid--inner rk-blog">
    <div class="rk-blog__items">
      <div class="rk-blog__item">
        <!-- La clase post-1 ace referencia a la imagen del home el archivo css es urku.css -->
        <div class="post-img post-1 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a [routerLink]="['contributions/themes']">Descubre mas sobre las redes neuronales</a></h2>
          <h5 class="blog-info__author">By <a href="blog-post.html" class="ae-u-bolder">JhoysiAndDavid</a></h5>
          <p > {{ infoS.info.homeTextIntroUno }}</p>
          <p > {{ infoS.info.homeTextIntroDos }}</p>
        </div>
       
      </div>
  
    </div>
  </section>
  
</section>