<div>

  <h2>Tests</h2>


  <div class="alert alert-primary div-hover" role="alert" (click)='loadExam("TEST UNO")'>
    <strong>Test Uno:</strong> "Redes Neuronales: Conceptos Básicos y Aplicaciones"
  </div>

  <div class="alert alert-secondary div-hover" role="alert" (click)='loadExam("TEST DOS")'>
    <strong>Test Dos:</strong> "Redes Neuronales: Conceptos Básicos y Aplicaciones"
  </div>
  <div class="alert alert-success div-hover" role="alert" (click)='loadExam("TEST TRES")'>
    <strong>Test Tres:</strong> "Redes Neuronales: Conceptos Básicos y Aplicaciones"
  </div>


</div>

<br>
<div>
  <h2> {{ titleText }} "Redes Neuronales: Conceptos Básicos y Aplicaciones" </h2>
  <hr>
  <br>
  <div>

    <div class="alert alert-info" role="alert">
      PREGUNTA UNO
    </div>

    <!--Poner un ngfor para cargar las 4 respuestas y guardamos en un array con un metodo-->
    <div class="custom-controls-stacked">

      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 1</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 2</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 3</span>
      </label>

    </div>

    <!-- <button type="button" class="btn btn-primary">Siguiente</button> -->

  </div>


  <!-- VISTA DE LAS PREGUNTAS ESTATICAMENTE -->
  <!-- pregunta dos -->
  <div>

    <div class="alert alert-info" role="alert">
      PREGUNTA DOS
    </div>
    <div class="custom-controls-stacked">

      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 1</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 2</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 3</span>
      </label>

    </div>

  </div>
  <!-- pregunta tres -->
  <div>

    <div class="alert alert-info" role="alert">
      PREGUNTA TRES
    </div>
    <div class="custom-controls-stacked">

      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 1</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 2</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 3</span>
      </label>

    </div>
  </div>
  <!-- pregunta 4 -->
  <div>

    <div class="alert alert-info" role="alert">
      PREGUNTA CUATRO
    </div>
    <div class="custom-controls-stacked">

      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 1</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 2</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked3" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Respuesta 3</span>
      </label>

    </div>
  </div>
  <hr>
  <br>
  <button type="button" class="btn btn-primary large" style="width: 200px">Calificar</button>


</div>