<div>

  <h2>Tests</h2>


  <div class="alert alert-primary div-hover" role="alert" (click)='loadExam("TEST UNO Redes Neuronales: Conceptos Básicos y Aplicaciones")'>
    <strong>Test Uno:</strong> "Redes Neuronales: Conceptos Básicos y Aplicaciones"
  </div>

  <div class="alert alert-secondary div-hover" role="alert" (click)='loadExam("TEST DOS Principios de Redes Neuronales")'>
    <strong>Test Dos:</strong> "Principios de Redes Neuronales"
  </div>
  <div class="alert alert-success div-hover" role="alert" (click)='loadExam("TEST TRES Aplicaciones de redes neuronales")'>
    <strong>Test Tres:</strong> "Aplicaciones de redes neuronales"
  </div>


</div>

<br>
<div>
  <h2> {{ titleText }} </h2>
  <hr>
  <br>
  <div *ngFor="let test of _contributionsService.tests; let idTest = index">
    <div *ngFor="let question of test.questions; let idTest = index">


      <div class="alert alert-info" role="alert">
        {{ idTest }} {{ question.title }}

      </div>

      <!--Poner un ngfor para cargar las 4 respuestas y guardamos en un array con un metodo-->
      <div class="custom-controls-stacked" *ngFor="let option of question.answers.options">

      <label class="custom-control custom-radio">
        <input id="radioStacked1" name="radio-stacked1" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ option }}</span>
      </label>


      </div>
    </div>

    <!-- <button type="button" class="btn btn-primary">Siguiente</button> -->

  </div>

  <hr>

  <div *ngIf="aprobaste">
    <h2>APROBASTE tu nota es: 90</h2>
  </div>

  <br>
  <button type="button" class="btn btn-primary large" style="width: 200px" (click)="aprobaste = !aprobaste">Calificar</button>






</div>