

<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    
  <div class="rk-portfolio__items">
    <a [routerLink]="['/contributions/themes/detail-theme',1]" class="rk-item rk-item--flex item-1 rk-size-4 rk-tosize-3 rk-square ">
      <div class="item-meta">
        <h2>Essential Stationery</h2>
        <p>Branding</p>
      </div>
    </a>

    <a  class="rk-item rk-item--flex item-12 rk-size-4 rk-tosize-3 rk-square ">
      <div class="item-meta">
        <h2>Venmo trust</h2>
        <p>Packaging</p>
      </div>
    </a> 

    <a href="portfolio-item.html" class="rk-item rk-item--flex item-13 rk-size-4 rk-tosize-3 rk-square ">
      <div class="item-meta">
        <h2>Venmo trust</h2>
        <p>Ui/UX</p>
      </div>
    </a>

    <a href="portfolio-item.html" class="rk-item rk-item--flex item-12 rk-size-4 rk-tosize-3 rk-square ">
        <div class="item-meta">
          <h2>Venmo trust</h2>
          <p>Packaging</p>
        </div>
      </a>

      <a href="portfolio-item.html" class="rk-item rk-item--flex item-13 rk-size-4 rk-tosize-3 rk-square ">
        <div class="item-meta">
          <h2>Venmo trust</h2>
          <p>Ui/UX</p>
        </div>
      </a>

  </div>


</section>