<section class="ae-container-fluid ae-container-fluid--full">
    <header class="rk-portfolio-cover " [style.background-image]="sanitizeImage(article.urlImage1)">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title "> {{ article.title }} </h1>
        <p class="ae-theta rk-portfolio-category ">Branding</p>
      </div>
    </header>
   
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">

      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Introduction</h4>
          <p class="ae-eta"> {{ article.section1 }} </p>
          <h5 class="ae-u-bolder">Descarga el libro para saber mas...</h5>          
          <a *ngIf="_contributionsS.book" [href]="_contributionsS.book.urlBook" download="Book Download Documentation.pdf"> <h6>Click para que inicie la descarga</h6></a>            
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img [src]="article.urlImage2" alt="Urku Portfolio"></div>
      </div>
      
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">Concepts</h4>
          <p class="ae-eta"> {{ article.section2 }} </p>
          <p class="ae-eta"> {{ article.section3 }} </p>
          
        </div>
      </div>

      
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6">
            <h4 class="ae-u-bolder">{{ article.title }}</h4>            
            
          <iframe width="100%" height="200%" [src]="article.urlVideo | videoPipe:url " frameborder="0" allowfullscreen></iframe>          
        </div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        </div>
      </div>
      <br><br><br><br>

      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
          <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
            <br><br><br><br><br><br>
              <h4 class="ae-u-bolder"> {{ article.book.title }}  </h4>              
            <p class="ae-eta"> {{ article.book.description }} </p>
            <h5 class="ae-u-bolder">Descarga el libro para saber mas...</h5>          
            <a *ngIf="_contributionsS.book" [href]="_contributionsS.book.urlBook" download="Book Download Documentation.pdf"> <h6>Click para que inicie la descarga</h6></a>  
          </div>
          <!-- falta la propiedad imagen al book -->
          <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img *ngIf="_contributionsS.book" [src]="_contributionsS.book.urlImage" alt="Urku Portfolio"></div>
      </div>


    </div>
  
  </section>