/* You can add global styles to this file, and also import other style files */

.videoCard{
    background: #F4F6F6;
    width: 400px;
    height: 450px;
    margin-right: 10px;
}

.centrado{
    width: 50%; 
    margin: 0 auto;
}
.iframe.centrado{
    display: block;
}