
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="rk-portfolio__items">

    
    <div class="videoCard" style=text-align:center>
      <br>
      <h3>Titulo</h3>


      <iframe width="350" height="200" [src]="video | videoPipe:url " frameborder="0" allowfullscreen></iframe>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque provident nesciunt aut quisquam ad, maiores fugit cumque
        hic, sit commodi officia. Optio vitae fugiat deserunt inventore ab quis ex nulla.</p>
    </div>

  

  </div>
</section>