<!-- 
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="rk-portfolio__items">
      
      <a href="portfolio-item.html" class="rk-item rk-item--flex item-1 rk-size-4 rk-tosize-3 rk-square ">
          <h2>Titulo video</h2>
            <div class="item-meta">
              <h2>Essential Stationery</h2>
              <p>Branding</p>
            </div>
          </a>

    </div>
</section>
-->
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="rk-portfolio__items">
    <div class="videoCard" style=text-align:center>

        <h3>Titulo</h3>
        <br>

        <iframe width="350" height="200" [src]="video | videoPipe:url " frameborder="0" allowfullscreen></iframe>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque provident nesciunt aut quisquam ad, maiores fugit cumque
          hic, sit commodi officia. Optio vitae fugiat deserunt inventore ab quis ex nulla.</p>
    </div>

    <div class="videoCard" style=text-align:center>

        <h3>Titulo</h3>
        <br>

        <iframe width="350" height="200" [src]="video | videoPipe:url" frameborder="0" allowfullscreen></iframe>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque provident nesciunt aut quisquam ad, maiores fugit cumque
          hic, sit commodi officia. Optio vitae fugiat deserunt inventore ab quis ex nulla.</p>
    </div>

    <div class="videoCard" style=text-align:center>

        <h3>Titulo</h3>
        <br>

        <iframe width="350" height="200" [src]="video | videoPipe:url" frameborder="0" allowfullscreen></iframe>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque provident nesciunt aut quisquam ad, maiores fugit cumque
          hic, sit commodi officia. Optio vitae fugiat deserunt inventore ab quis ex nulla.</p>
    </div>

  </div>
</section>